@model IEnumerable<TimeSheet.Domain.Entities.Usuario>

@{
    ViewBag.Title = "Usuários";
}

    <h2>Usuários</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoDoUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.DepartamentoId)
    </td>*@
    <td>
        @*@Html.DropDownList("DepartamentoList1", ViewBag.DepartamentoListName as SelectList, "Departamento do Usuário")*@
        @Html.DisplayFor(modelItem => item.DepartamentoDoUsuario.Nome)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.UsuarioId }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.UsuarioId }, new { onclick = "return confirm('Tem certeza que deseja excluir este item?')" })
    </td>
</tr>
}

</table>
