@model IEnumerable<TimeSheet.Domain.Entities.Job>

@{
    ViewBag.Title = "Jobs";
}

    <h2>Jobs</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CampanhaId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CampanhaDoJob)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.CampanhaId)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.CampanhaDoJob.Nome)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.JobId }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.JobId }, new { onclick = "return confirm('Tem certeza que deseja excluir este item?')" })
    </td>
</tr>
}

</table>
